*{
    font-family: sans-serif;
    color: white;
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background: linear-gradient(to right, #bf4342, #8c1c13);
    margin: 25px;
}

.navegacion {
    width: 1000px;
    margin: auto;
    background-color: #b6a19e;
}

.navegacion ul {
    list-style: none;
}

.menu > li {
    position: relative;
    display: inline-block;
    padding: 0% 2%;
    align-items: center;
}

.menu > li > a {
    display: block;
    padding: 15px 20px;
    text-decoration: none;
}
 
h1, h3{
    text-align: center;
    margin: 2%;
}

div{
    border: 2px solid white;
    border-radius: 20px;
}

p{
    font-size: 20px;
    padding: 4px 30px;
}

.menu li a:hover {
    color:pink;
    transition: all 0.3s;
}

.menu li a{
    text-decoration: none;
    font-size: 18px;
}

img{
    width:40%;
    border-radius: 15px;
}
